<div class="app" ng-controller="ArrivalsCtrl" ng-init="loadETD()">
    <div class="header">
        <div class="title"><div>BART Arrivals - {{currentTime | date:'h:mma'}}</div></div>
        <div class="controls"><div><a href="#/config">edit</a><button class="btn" ng-click="loadETD()">Refresh</button></div></div>
    </div>
    <div class="body">
        <div class="station-block" ng-repeat="station in stations">
        <h1>{{station.name}} ( {{station.abbreviation}} ) </h1>
            <div ng-repeat="etd in station.etd">
                <div class="train-{{etd.color}}"></div>
                {{etd.name}}: 
                <span ng-repeat="train in etd.trains">{{train.minutes}}<span ng-if="$last != true">,</span> </span> min
            </div>
            <div ng-show="!station.etd.length">No trains</div>
        </div>
    </div>            
</div>
