<div class="app" ng-controller="ArrivalsCtrl" ng-init="loadETD()">
    <div class="header">
        <div class="left">
            BART App
        </div>
        <div class="right">
            <button ng-click="loadETD()">Refresh</button>
        </div>
    </div>
    <div class="body">
        <div ng-repeat="station in stations">
            <h1>{{station.name}} ( {{station.abbreviation}} ) </h1>
            <div ng-repeat="etd in station.etd">
                {{etd.name}}
                <ul>
                    <li ng-repeat="train in etd.trains">
                        {{train.minutes}} min ({{train.length}} car train)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
