<div class="app" ng-controller="ArrivalsCtrl" ng-init="loadETD()">
    <div class="row">
        <div style="color: white;" class="col-xs-6">BART Arrivals</div>
        <div style="color: white;" class="col-xs-6"><a href="#/config">edit</a><button ng-click="loadETD()">Refresh</button></div>
    </div>
    <div class="row">
        <div class="body">
            <div ng-repeat="station in stations">
                <h1>{{station.name}} ( {{station.abbreviation}} ) </h1>
                <div ng-repeat="etd in station.etd">
                    {{etd.name}}
                    <ul>
                        <li ng-repeat="train in etd.trains">
                            {{train.minutes}} min ({{train.length}} car train)
                        </li>
                    </ul>
                </div>
            </div>
        </div>            
    </div>   
</div>
