<div class="app" ng-controller="ConfigCtrl" ng-init="loadPreferences()">
        <div class="row">
            <div style="color: white;" class="col-xs-6">My Stations</div>
            <div style="color: white;" class="col-xs-6"><a href="#/arrivals">done</a></div>
        </div>
        <div class="row">
            <div class="body">
                <div ng-repeat="station in stations">
                    <select ng-change="savePreferences()" ng-model="station.abbreviation" ng-options="stationObject.abbr as stationObject.name for (abbr, stationObject) in stationList">
                        <option value="">-- chose station --</option>
                    </select><a ng-click="deleteStation(station)" href="">del station</a><br>
                </div>
                <a ng-click="addStation()" href="">add station</a>
                {{stations}}
            </div>
        </div>        
</div>