/*
 * BartRT - Application CSS
 *
 * David Ordal - david -at- ordal.com
 *
 */

/*
 * General App Styles
 *
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#2f2f2f;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:100%;
    padding-top:50px;                           /* allows for bootstrap header */
}

/* Portrait layout (default) */
.app {
    color: #fff;
}

/*
 * Header
 *
 */

.navbar .navbar-nav {
    float: right;
}

/*
 * Arrivals
 *
 */

.station-block {
   margin: 10px 10px 10px 10px;
}

.station-block h1 {
    font-size:15px;
    font-weight:normal;
}

.train-color {
    padding: 2px;
    display: inline;
}

.train-color-yellow {
    background-color: yellow;
}

.train-color-red {
    background-color: red;
}

.train-color-green {
    background-color: green;
}

.train-color-blue {
    background-color: blue;
}

.train-color-orange {
    background-color: orange;
}