/*
 * BartRT - Application CSS
 *
 * David Ordal - david -at- ordal.com
 *
 */

/* NB: I'd really like to have this locally, but it appears google has a restriction from running
       fonts locally. It doesn't work in FF or on-device, but oddly does work in Chrome. */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*
 * General App Styles
 *
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#2f2f2f;
    background-attachment:fixed;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; */
    font-size:12px;
    height:100%;
    width:100%;
    padding-top:50px;                           /* allows for bootstrap header */
}

/* Portrait layout (default) */
.app {
   color: #fff;
}

.view-animate-container {
  position: relative;
}

.view-animate {

}
 
.view-animate.ng-enter, .view-animate.ng-leave {
   /* margin-top: -50px; */
    position: absolute;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    display:block;
    width: 100%;
}

.view-animate.ng-animate .navbar {
    margin-top: -50px;                      /* pull the navbar back up */
}

.view-animate.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}
.view-animate.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.view-animate.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}

/*
 * Header
 *
 */

.navbar .navbar-nav {
    float: right;
    font-size: 14px;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    font-size: 20px;
}

.navbar .navbar-nav > li > a:hover {
    color: #999;
}

/*
 * Arrivals
 *
 */

.arrivals .station-block {
   float:left;
   clear: both;
}

.arrivals .station-block h1 {
    font-size:20px;
    font-weight:normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.arrivals .train-block {
    clear:both;
    font-size: 16px;
}

.arrivals .train-arrival {
    display:inline;
}

.arrivals .train-color {
    padding: 2px;
    margin: 4px 2px 0px 0px;
    width: 9px;
    height: 9px;
    display: inline-block;
}

.arrivals .train-color-yellow {
    background-color: #ffff33;
}

.arrivals .train-color-red {
    background-color: #ff0000;
}

.arrivals .train-color-green {
    background-color: #339933;
}

.arrivals .train-color-blue {
    background-color: #0099cc;
}

.arrivals .train-color-orange {
    background-color: #ff9933;
}

/*
 * Config
 *
 */

.config .container {
    font-size: 16px;
}

.config .station-add {
    text-align: right;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px dotted #555;
}

.config .station-block {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px dotted #555;
}

.config .station-block .station-name {
    font-size: 20px;
}

.config .station-block .station-edit {
    text-align: right;
}

.config .station-add a,
.config .station-edit a {
    color: #999;
}

/*
 * Station List
 *
 */

.stationlist .station-list {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px dotted #555;
    font-size: 20px;
}

.stationlist .station-select {
    text-align: right;
    color: #999;
}
